*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}
/*cores*/
:root{
    --fundo: #000;
    --textoPrimario: #EEEEEE;
    --textoSecundario: #A7A6A6;
    --primeiroPlano: #363636;
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0,0,0,0.4);
    --box-shadow: 0 1rem 2rem var(--color-light);
}
.modoClaro:root{
    
    --fundo: #FFF;
    --textoPrimario: #262626;
    --textoSecundario: #ACACAC;
    --primeiroPlano: #FFF;
    --color-background: #f6f6f9;
    --color-white: #fff;
    --color-dark: #363949;
    --color-dark-variant: #677483;
    --color-light: rgba(132,139,200,0.18);
    --box-shadow: 0 1rem 2rem var(--color-light);
}

/*cores*/
body{
    background: var(--color-background);
    transition: background 0.5s;
    width: 100vw;
    height: 100vh;
}

/*cabeçalho*/
header{
    background: var(--color-white);
    transition: background 0.5s;
    box-shadow: var(--box-shadow);
}
li{
    list-style: none;
}
a{
    color: var(--textoPrimario);
    text-decoration: none;
}
.navbar{
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}
.logo{
    font-size: 2rem;
    font-weight: bold;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap:60px;    
}
.nav-link{
    transition: 0.5s ease;
}
.nav-link:hover{
    color: var(--textoSecundario);

}
.icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--color-dark);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.icon::before{
    content: "\f186";
    font-family: fontAwesome;
    color: var(--textoSecundario);
    font-size: 20px;
    transition: background 0.5s;
}
.hamburguer{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: var(--textoPrimario);
    transition: all 0.3s ease-in-out;
}
section.info{
    padding: 32px;

}
section.about{
    display: flex;
    border-radius: 8px;    
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
}
section.about section.descricao{
    width: 70%;
    padding: 1rem 1.5rem;
    text-align: center;
}
section.about section.descricao h1{
    font-size: 2.5rem;
    color: var(--textoPrimario);
    padding: 0 0 1rem 0;
}
section.about section.descricao p{
    font-size: 100%;
    color: var(--textoSecundario);
    padding: 0 0 1rem;
}
section.about section.foto{
    width: 30%;
    padding: 1rem 1.5rem;
    text-align: center;
    position: relative;
    height: 300px;
}

section.about section.foto img{
    height: 100%;
    border-radius: 8px;
}


/* portifolio de projetos */
section.cards{
    display: flex;
    padding: 32px;    
    justify-content: center;
}
section.cards section.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 468px;
    margin-left: 32px;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
}

section.cards section.card:first-child{
    margin-left: 0;
}

section.cards section.card h3{
    font-size: 100%;
    margin: 16px 0;
    color: var(--textoPrimario);
}
section.cards section.card span{
   font-weight: 300;
   max-width: 240px;
   font-size: 80%;
   margin-bottom: 16px;
   color: var(--textoSecundario);
}
section.cards section.card button{
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    cursor: pointer;
    font-size: 80%;
    font-weight: 800;
}
/* portifolio de projetos */

@media (max-width:768px) {
    nav.navbar a.logo{
        font-size: 1.5rem;
    }
    .hamburguer{
        display: block;
    }
    .hamburguer.active .bar:nth-child(1){
       transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    ul.icones{
        display: flex;        
    }
    ul.icones li.icon{
        margin-right: 1rem;
    }
    .nav-menu{
        position: absolute;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: var(--color-background);
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
        padding: 15px;
        transition: background-color 0.5s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
    section.about{
        flex-direction: column;
    }
     section.descricao,
     section.foto{
        width: 100% !important;
    }
    section.cards{
        flex-direction: column;
    }
    section.cards section.card{
        margin-left: 0;
        margin-bottom: 32px;
    }
    section.cards section.card:last-child{
        margin-bottom: 0;
    }
    section.cards section.card button{
        font-size: 70%;
    }
}

@media(min-width:1400px){
    section.info{
        padding: 32px 0;
    }
    .header{
        border-radius: 8px;
        margin-top: 15px;
    }
    .navbar{
        border-radius: 32px;
    }
    .container{
        max-width: 1320px;
        margin-left: auto;
        margin-right: auto;
    }
}