* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

:root {
    --fundo: #000;
    --textoPrimario: #EEEEEE;
    --textoSecundario: #A7A6A6;
    --primeiroPlano: #363636;
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0px 2px 10px 0px var(--color-light);

}

.modoClaro:root {
    --fundo: #FFF;
    --textoPrimario: #262626;
    --textoSecundario: #ACACAC;
    --textoBlue: #102754;
    --primeiroPlano: #FFF;
    --color-background: #f6f6f9;
    --color-white: #fff;
    --color-dark: #363949;
    --color-dark-variant: #677483;
    --color-light: rgba(132, 139, 200, 0.18);
    --box-shadow: 1rem 1rem 2rem var(--color-light);
}
