*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --fundo: #DEEFE7;
    --texto: #002333;
    --cabecalho: #B4BEC9;
    --icone: #101026;
    --iconeFundo: #dbefff;
}
.modoEscuro:root{
    --fundo: #B4BEC9;
    --texto: #fff;
    --cabecalho: #202026;
    --icone: #101026;
    --iconeFundo: #dbefff;
}
body{
    background: var(--fundo);
    transition: background 0.5s;
}

header{
    background: var(--cabecalho);
    transition: background 0.5s;
}
li{
    list-style: none;
}
a{
    color: var(--texto);
    text-decoration: none;
}
.navbar{
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}
.logo{
    font-size: 2rem;
    font-weight: bold;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap:60px;    
}
.nav-link{
    transition: 0.5s ease;
}
.nav-link:hover{
    color: var(--texto);

}
.icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--iconeFundo);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.icon::before{
    content: "\f186";
    font-family: fontAwesome;
    color: var(--icone);
    font-size: 20px;
}
.hamburguer{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: var(--texto);
    transition: all 0.3s ease-in-out;
}
.container{
    padding: 5rem;
}
section{
    text-align: center;
}

@media (max-width:768px) {
    .hamburguer{
        display: block;
    }
    .hamburguer.active .bar:nth-child(1){
       transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: var(--cabecalho);
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
        padding: 15px;
        transition: background-color 0.5s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
    
}

