.sidebar{
    height: 100vh;
    box-shadow: var(--box-shadow);
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--textoPrimario);
}